div.hidden {
  display: none;
}

div.active {
  border: 5px solid red;
}

img.bigcoin {
  width: 50px;
}

#smallcoin {
  width: 200px;
}

#all_results {
  display: flex;
}

#all_results_text {
  display: flex;
}

#all_results_text p {
  margin-left: 75px;
  margin-right: 84px;
  font-size: 20px;
  font-weight: bold;
}

#userGuessImg {
  width: 200px;
}